.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.header__titles {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.8rem;
  font-size: 1.5rem;
}

.navigation__link {
  font-weight: bold;
  color: #2c3e50;
}

.navigation__link:active {
  color: #42b983;
}
